:root{
  --placeholder: 'rgba(0,0,0,0.5)';
}

body{
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

a {
  color: white;
  text-decoration: none;
}

textarea{
  all: unset;
  overflow:hidden;
}

textarea::placeholder{
  color: var(--placeholder);
}